.user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.welcome {
  margin-right: 7px;
  color: white;
}

@media screen and (max-width: 767px) {
  .welcome {
    width: 100px;
  }
}

@media screen and (min-width: 768px) {
  .welcome {
    margin-right: 15px;
    font-size: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .welcome {
    margin-right: 20px;
  }
}

.name {
  color: white;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border-color: white;
  background-color: black;
  padding: 5px 10px;
  color: white;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s linear;
}

@media screen and (min-width: 768px) {
  .button {
    padding: 10px 20px;
    font-size: 15px;
  }
}

.button:hover,
.button:focus {
  background-color: blue;
}
